@import "./public/_reset.scss";
@import "./public/_variable.scss";
@import "./public/_mixin.scss";
@import "./public/_Layout.scss";
//------------------------------------
// @import "./modules/_header.scss";
// @import "./modules/_card.scss";
//------------------------------------

$header-hight: 72px;

.header {
  @include size(100%, $header-hight);
  @include flex(center);

  margin-bottom: 20px;
  background: $primary;

  .nav {
    @include flex(center);

    &__item {
      // @include outline(red);
      @include size(160px, $header-hight - 3px);

      margin: 0 10px;

      a {
        // @include outline(red);
        @include size(160px, $header-hight - 3px);

        display: block;
        text-align: center;
        color: #00408b;
        font-size: 1.5rem;
        line-height: $header-hight;

        &.active {
          color: #ffffff;
          border-bottom: 5px solid #00408b;
        }
      }
    }
  }
}

.addtask {
  // @include outline(red);
  // margin-bottom: 20px;

  #newtask {
    @include size(620px, 50px);

    display: block;
    padding-left: 2.2rem;
    color: #c8c8c8;
    border: 2px solid #c8c8c8;
    font-size: 1.5rem;
    line-height: 50px;

    .iconplus {
      margin-right: 1rem;
    }
  }

  // .card {
  //   display: none;
  // }

  // &.active {
  //   #newtask {
  //     display: none;
  //   }

  //   .card {
  //     display: block;
  //   }
  // }
}

.cards {
  // @include outline(blue);
  @include flex(center);

  width: 620px;
  margin: 0 auto;

  flex-flow: column nowrap;

  &__footer {
    align-self: flex-start;
    margin-top: .8rem;
    margin-left: 2rem;
    color: #c8c8c8;
    font-size: 1.5rem;
  }
}

.card {
  // @include outline(red);
  @include size(620px, auto);

  box-shadow: 0 4px 4px 0 #c8c8c8;

  &__header {
    // @include outline(red);
    @include size(100%, 76px);
    @include flex(flex-start, flex-start);

    padding: 0 32px;
    padding-top: 24px;
    background: #f2f2f2;
    font-size: 1.5rem;

    &--read {
      @include size(100%, 106px);
    }

    &.favorite {
      background: #fff2dc;
    }

    .taskinfo {
      position: relative;

      .icons {
        position: absolute;
        top: 42px;
        left: 3rem;
        width: 200px;
        // display: none;
        color: #757575;
        font-size: 1rem;

        span {
          margin-right: .5rem;
        }
      }
    }

    .checkbox--completed {
      @include flex(center);

      .checkbox {
        @include size(1.8rem);

        margin-right: 1rem;
        color: #ffffff;
        border: 2px solid #f2f2f2;
        outline: 0;
        background: #ffffff;

        appearance: none;

        &:checked::before {
          @include size(1.5rem);

          content: "✔";
          position: absolute;
          display: inline-block;
          text-align: center;
          color: #ffffff;
          background: #4a90e2;
          line-height: 1.7rem;
        }

        &:checked ~ span {
          text-decoration: line-through;
        }
      }

      input {
        width: 400px;
        color: #000000;
        border: 0;
        outline: 0;
        background: transparent;
      }
    }

    .checkbox--favorite {
      @include flex(flex-start, center);

      margin-right: 28px;
      margin-left: auto;

      .farblock {
        color: #000000;
      }
      .fasblock {
        display: none;
        color: #f5a623;
      }

      input[type="checkbox"] {
        display: none;

        &:checked ~ .farblock {
          display: none;
        }
        &:checked ~ .fasblock {
          display: block;
        }
      }
    }

    .edit {
      @include flex(flex-start, center);

      .farblock {
        color: #000000;
      }
      .fasblock {
        display: none;
        color: #4a90e2;
      }

      &.active {
        .farblock {
          display: none;
        }
        .fasblock {
          display: block;
        }
      }
    }
  }

  &__body {
    @include size(100%, 383px);
    @include flex(flex-start);

    padding-left: 97px;
    border-top: 2px solid #c8c8c8;
    background: #f2f2f2;

    flex-flow: column nowrap;

    p {
      margin-bottom: 4px;
      font-family: $font-family-base;
      font-size: 20px;
    }

    .titleicon {
      position: absolute;
      top: 2px;
      left: -23px;
    }

    &--Deadline {
      // @include outline(red);
      position: relative;
      margin-top: 24px;

      .vdp-datepicker {
        display: inline-block;
      }

      input {
        @include size(162px, 35px);

        padding-left: 1rem;
        border: 0;
        outline: 0;
      }
    }

    &--File {
      position: relative;
      margin-top: 20px;

      #filename {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0;
        color: #757575;
        font-size: 1rem;
      }

      .fileicon {
        color: #c8c8c8;
        font-size: 2rem;

        &:hover {
          color: #4a90e2;
        }
      }

      #file-upload {
        display: none;
      }
    }

    &--Comment {
      position: relative;
      margin-top: 20px;

      textarea {
        // padding-top: 8px;
        padding-left: 1rem;
      }
    }
  }

  &__footer {
    @include size(100%, 60px);
    @include flex(center);

    .btn {
      @include size(310px, 60px);
      @include flex(center);

      border: 0;
      outline: 0;

      span {
        margin-left: 10px;
        font-size: 24px;
      }

      .farblock {
        font-size: 24px;
      }
      .fasblock {
        display: none;
        font-size: 24px;
      }

      &:hover {
        .farblock {
          display: none;
        }
        .fasblock {
          display: block;
        }
      }
    }

    .btn--cancel {
      color: #d0021b;
      background: #ffffff;

      .farblock {
        font-size: 20px;
      }
      .fasblock {
        font-size: 20px;
      }

      &:hover {
        background: #fdfdfd;
      }
    }
    .btn--add {
      color: #ffffff;
      background: #4a90e2;

      &:hover {
        background: #3982d7;
      }
    }
  }

  &:nth-child(n + 2) {
    margin-top: 20px;
  }
}
