<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>

  <title>TheF2E_01_TodoList</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107001663-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-107001663-4');
  </script>

</head>

<body>
  <div id="app">

    <!-- 上方navbar -->
    <header class="header">
      <ul class="nav">
        <div class="nav__item">
          <a href="javascript:;" class="nva__item--link" :class="{'active': visibility === 'all'}" @click="visibility = 'all'">
            <span class="headerIcon">
              <i class="far fa-list-alt"></i>
            </span>
            <span> My Tasks</span>
          </a>
        </div>
        <div class="nav__item">
          <a href="javascript:;" class="nva__item--link" :class="{'active': visibility === 'progress'}" @click="visibility = 'progress'">
            <span class="headerIcon">
              <i class="fas fa-spinner"></i>
            </span>
            <span>In Progress</span>
          </a>
        </div>
        <div class="nav__item">
          <a href="javascript:;" class="nva__item--link" :class="{'active': visibility === 'completed'}" @click="visibility = 'completed'">

            <span class="headerIcon">
              <i class="far fa-check-square"></i>
            </span>
            <span>Completed</span>
          </a>
        </div>
      </ul>
    </header>

    <!-- 待辦清單 -->
    <div class="cardList" id="cardList">


      <!-- 新增Task---------------------------------Start -->
      <div class="addTask" class="isAlwaysTop" :class="{ 'active' : isNewTodo }">

        <a href="javascript:;" id="newTask" @click.parent="addTodo" v-if="!isNewTodo">
          <span class="iconPlus">
            <i class="fas fa-plus"></i>
          </span>
          <span> Add Task</span>
        </a>

        <div class="card" v-if="isNewTodo">
          <div class="card__header" :class="{ 'favorite' : newTodo.isFavorite }">

            <label for="new_completed" class="checkbox--completed">
              <input type="checkbox" class="checkbox" id="new_completed" v-model="newTodo.isCompleted">
              <input type="text" class="taskTitle" v-focus placeholder="Type Something Here…" v-model="newTodo.title">
            </label>

            <label for="new_favorite" class="checkbox--favorite">
              <input type="checkbox" id="new_favorite" v-model="newTodo.isFavorite">
              <div class="farBlock">
                <i class="far fa-star"></i>
              </div>
              <div class="fasBlock">
                <i class="fas fa-star"></i>
              </div>
            </label>


            <a href="javascript:;" class="edit active">
              <div class="farBlock">
                <i class="far fa-edit"></i>
              </div>
              <div class="fasBlock">
                <i class="fas fa-pencil-alt"></i>
              </div>
            </a>

          </div>

          <div class="card__body">
            <div class="card__body--Deadline">
              <span class="titleIcon">
                <i class="far fa-calendar-alt"></i>
              </span>
              <p>Deadline</p>
              <el-date-picker v-model="newTodo.date" type="date" placeholder="yyyy/mm/dd">
              </el-date-picker>
              <el-time-picker v-model="newTodo.time" format="hh:mm" placeholder="hh:mm">
            </div>

            <div class="card__body--File">
              <span class="titleIcon">
                <i class="far fa-file"></i>
              </span>
              <p>File</p>
              <p id="filename"> {{ newTodo.filename }}</p>
              <label class="fileIcon" for="file-upload">
                <i class="fas fa-plus-square"></i>
                <input type="file" id="file-upload" @change="getFiles($event, newTodo)">
              </label>

            </div>
            <div class="card__body--Comment">
              <span class="titleIcon">
                <i class="far fa-comment-alt"></i>
              </span>
              <p>Comment</p>
              <textarea cols="50" rows="5" placeholder="Type your memo here..." v-model="newTodo.comment"></textarea>
            </div>
          </div>

          <div class="card__footer">
            <button class="btn btn--cancel" type="button" @click.parent="cancelEdit">
              <div class="farBlock">
                <i class="far fa-trash-alt"></i>
              </div>
              <div class="fasBlock">
                <i class="fas fa-trash-alt"></i>
              </div>
              <span>Cancel</span>
            </button>
            <button class="btn btn--add" type="button" :disabled="newTodo.title==''" @click.parent="saveTodo(null)">
              <div class="farBlock">
                <!-- <i class="far fa-plus-square"></i> -->
                <i class="far fa-save"></i>
              </div>
              <div class="fasBlock">
                <!-- <i class="fas fa-plus-square"></i> -->
                <i class="fas fa-save"></i>
              </div>
              <span>Save</span>
            </button>
          </div>
        </div>
      </div>
      <!-- 新增Task---------------------------------End -->


      <!-- Todo項目 -->
      <div class="card" class="" v-for="(item, index) in filteredTodos" :class="{ 'isTop' : item.isFavorite }">

        <!-- Card Header---------------------------------Start -->
        <!-- 閱讀區 -->
        <div class="card__header card__header--read" :class="{ 'favorite' : item.isFavorite }" v-if="item.id !==cacheTodo.id">

          <span class="dragIcon">
            <i class="fas fa-ellipsis-v"></i>
          </span>

          <div class="taskInfo">
            <label :for="item.id + '_completed'" class="checkbox--completed">
              <input type="checkbox" class="checkbox" :id="item.id + '_completed'" v-model="item.isCompleted">
              <span class="completed">{{ item.title }}</span>
            </label>

            <div class="icons">
              <span class="titleIcon" v-if="item.date !== ''">
                <i class="far fa-calendar-alt"></i>
                {{ customFormatterDate(item.date) }}
              </span>
              <span class="titleIcon" v-if="item.filename !== ''">
                <i class="far fa-file"></i>
              </span>
              <span class="titleIcon" v-if="item.comment !== ''">
                <i class="far fa-comment-alt"></i>
              </span>
            </div>
          </div>


          <label :for="item.id + '_favorite'" class="checkbox--favorite">
            <input type="checkbox" :id="item.id + '_favorite'" v-model="item.isFavorite">
            <div class="farBlock">
              <i class="far fa-star"></i>
            </div>
            <div class="fasBlock">
              <i class="fas fa-star"></i>
            </div>
          </label>


          <a href="javascript:;" class="edit" @click.parent="editTodo(item)">
            <div class="farBlock">
              <i class="far fa-edit"></i>
            </div>
            <div class="fasBlock">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </a>
        </div>

        <!-- 編輯區 -->

        <div class="card__header" :class="{ 'favorite' : item.isFavorite }" v-if="item.id===cacheTodo.id">

          <div class="taskInfo">
            <label :for="cacheTodo.id + '_completed'" class="checkbox--completed">
              <input type="checkbox" class="checkbox" :id="cacheTodo.id + '_completed'" v-model="cacheTodo.isCompleted">
              <input type="text" class="taskTitle" v-focus placeholder="Type Something Here…" v-model="cacheTodo.title">
            </label>
          </div>


          <label :for="cacheTodo.id + '_favorite'" class="checkbox--favorite">
            <input type="checkbox" :id="cacheTodo.id + '_favorite'" v-model="cacheTodo.isFavorite">
            <div class="farBlock">
              <i class="far fa-star"></i>
            </div>
            <div class="fasBlock">
              <i class="fas fa-star"></i>
            </div>
          </label>

          <a href="javascript:;" class="edit active">
            <div class="farBlock">
              <i class="far fa-edit"></i>
            </div>
            <div class="fasBlock">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </a>
        </div>
        <!-- Card Header---------------------------------End -->

        <!-- Card Body---------------------------------Start -->
        <div class="card__body" v-if="item.id===cacheTodo.id">

          <div class="card__body--Deadline">
            <span class="titleIcon">
              <i class="far fa-calendar-alt"></i>
            </span>
            <p>Deadline</p>
            <el-date-picker v-model="cacheTodo.date" type="date" placeholder="yyyy/mm/dd">
            </el-date-picker>
            <el-time-picker v-model="cacheTodo.time" format="hh:mm" placeholder="hh:mm">
          </div>

          <div class="card__body--File">
            <span class="titleIcon">
              <i class="far fa-file"></i>
            </span>
            <p>File</p>
            <p id="filename">{{ cacheTodo.filename }}</p>
            <label class="fileIcon" for="file-upload">
              <i class="fas fa-plus-square"></i>
              <input type="file" id="file-upload" @change="getFiles($event, cacheTodo)">
            </label>
          </div>

          <div class="card__body--Comment">
            <span class="titleIcon">
              <i class="far fa-comment-alt"></i>
            </span>
            <p>Comment</p>
            <textarea cols="50" rows="5" placeholder="Type your memo here..." v-model="cacheTodo.comment"></textarea>
          </div>
        </div>
        <!-- Card Body---------------------------------End -->

        <!-- Card footer---------------------------------Start -->
        <div class="card__footer" v-if="item.id===cacheTodo.id">
          <button class="btn btn--cancel" type="button" @click.parent="cancelEdit">
            <div class="farBlock">
              <i class="far fa-trash-alt"></i>
            </div>
            <div class="fasBlock">
              <i class="fas fa-trash-alt"></i>
            </div>
            <span>Cancel</span>
          </button>
          <button class="btn btn--add" type="button" :disabled="cacheTodo.title==''" @click.parent="saveTodo(item)">
            <div class="farBlock">
              <!-- <i class="far fa-plus-square"></i> -->
              <i class="far fa-save"></i>
            </div>
            <div class="fasBlock">
              <!-- <i class="fas fa-plus-square"></i> -->
              <i class="fas fa-save"></i>
            </div>
            <span>Save</span>
          </button>
        </div>
        <!-- Card footer---------------------------------Start -->

      </div>

      <!-- 剩餘項目數量 -->
      <div class="cardList__footer">
        <span> {{ filteredTodos.length }} tasks left</span>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://rubaxa.github.io/Sortable/Sortable.js"></script>
  <script src="./all.js"></script>
</body>

</html>