<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="./css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>

  <title>Document</title>
</head>

<body>
  <div id="app">
    <header class="header">
      <ul class="nav">
        <div class="nav__item">
          <a href="#" class="nva__item--link" :class="{'active': visibility === 'all'}" @click="visibility = 'all'">My Tasks</a>
        </div>
        <div class="nav__item">
          <a href="#" class="nva__item--link" :class="{'active': visibility === 'progress'}" @click="visibility = 'progress'">In Progress</a>
        </div>
        <div class="nav__item">
          <a href="#" class="nva__item--link" :class="{'active': visibility === 'completed'}" @click="visibility = 'completed'">Completed</a>
        </div>
      </ul>
    </header>

    <div class="cards">

      <div class="addtask activeX">
        <a href="#" id="newtask">
          <span class="iconplus">
            <i class="fas fa-plus"></i>
          </span>
          <span> Add Task</span>
        </a>

        <div class="card" class="">
          <div class="card__header">

            <label for="one_completed" class="checkbox--completed">
              <input type="checkbox" class="checkbox" id="one_completed">
              <!-- <span class="completed">Cloud project with Dannie</span> -->
              <input type="text" class="tasktitle" placeholder="Type Something Here…">
            </label>

            <label for="one_favorite" class="checkbox--favorite">
              <input type="checkbox" id="one_favorite">
              <div class="farblock">
                <i class="far fa-star"></i>
              </div>
              <div class="fasblock">
                <i class="fas fa-star"></i>
              </div>
            </label>
            <!-- <a href="#" class="favorite">
                <i class="far fa-star"></i>
              </a> -->


            <a href="#" class="edit active">
              <div class="farblock">
                <i class="far fa-edit"></i>
              </div>
              <div class="fasblock">
                <i class="fas fa-pencil-alt"></i>
              </div>
            </a>

          </div>

          <div class="card__body">
            <div class="card__body--Deadline">
              <span class="titleicon">
                <i class="far fa-calendar-alt"></i>
              </span>

              <p>Deadline</p>
              <input type="datetime" placeholder="yyyy/mm/dd">
              <input type="datetime" placeholder="hh:mm">
            </div>
            <div class="card__body--File">
              <span class="titleicon">
                <i class="far fa-file"></i>
              </span>
              <p>File</p>
              <p id="filename">Select your file</p>
              <label class="fileicon" for="file-upload">
                <i class="fas fa-plus-square"></i>
                <input type="file" id="file-upload">
              </label>

              <!-- <input type="file" class="custom-file-input" id="file-upload">
                <span class="fileicon">
                  <i class="fas fa-plus-square"></i>
                </span> -->
            </div>
            <div class="card__body--Comment">
              <span class="titleicon">
                <i class="far fa-comment-alt"></i>
              </span>
              <p>Comment</p>
              <textarea cols="50" rows="5" placeholder="Type your memo here..."></textarea>
            </div>
          </div>

          <div class="card__footer">
            <button class="btn btn--cancel" type="button">
              <div class="farblock">
                <i class="far fa-trash-alt"></i>
              </div>
              <div class="fasblock">
                <i class="fas fa-trash-alt"></i>
              </div>
              <span>Cancel</span>
            </button>
            <button class="btn btn--add" type="button">
              <div class="farblock">
                <i class="far fa-plus-square"></i>
              </div>
              <div class="fasblock">
                <i class="fas fa-plus-square"></i>
              </div>
              <span>Save</span>
            </button>
          </div>
        </div>
      </div>

      <div class="card" class="" v-for="(item, index) in todos">
        <div class="card__header">

          <div class="taskinfo">
            <label :for="item.id + '_completed'" class="checkbox--completed">
              <input type="checkbox" class="checkbox" :id="item.id + '_completed'" v-model="item.isCompleted">
              <span class="completed">{{ item.title }}</span>
              <input type="text" class="tasktitle" placeholder="Type Something Here…" v-model="item.title">
            </label>

            <div class="icons">
              <span class="titleicon">
                <i class="far fa-calendar-alt"></i>
                {{ item.date }}
              </span>
              <span class="titleicon">
                <i class="far fa-file"></i>
              </span>
              <span class="titleicon">
                <i class="far fa-comment-alt"></i>
              </span>
            </div>
          </div>


          <label :for="item.id + '_favorite'" class="checkbox--favorite">
            <input type="checkbox" :id="item.id + '_favorite'" v-model="item.isFavorite">
            <div class="farblock">
              <i class="far fa-star"></i>
            </div>
            <div class="fasblock">
              <i class="fas fa-star"></i>
            </div>
          </label>
          <!-- <a href="#" class="favorite">
            <i class="far fa-star"></i>
          </a> -->


          <a href="#" class="edit activeX">
            <!-- <i class="fas fa-pencil-alt"></i> -->
            <div class="farblock">
              <i class="far fa-edit"></i>
            </div>
            <div class="fasblock">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </a>
        </div>

        <div class="card__body">
          <div class="card__body--Deadline">
            <span class="titleicon">
              <i class="far fa-calendar-alt"></i>
            </span>

            <p>Deadline</p>
            <input type="text" placeholder="yyyy/mm/dd" v-model="item.date">
            <input type="text" placeholder="hh:mm" v-model="item.time">
          </div>
          <div class="card__body--File">
            <span class="titleicon">
              <i class="far fa-file"></i>
            </span>
            <p>File</p>
            <p id="filename">{{ item.filename }}</p>
            <label class="fileicon" for="file-upload">
              <i class="fas fa-plus-square"></i>
              <input type="file" id="file-upload" @change="getFiles($event, item)">
            </label>

            <!-- <input type="file" class="custom-file-input" id="file-upload">
            <span class="fileicon">
              <i class="fas fa-plus-square"></i>
            </span> -->
          </div>
          <div class="card__body--Comment">
            <span class="titleicon">
              <i class="far fa-comment-alt"></i>
            </span>
            <p>Comment</p>
            <textarea cols="50" rows="5" placeholder="Type your memo here..." v-model="item.comment"></textarea>
          </div>
        </div>

        <div class="card__footer">
          <button class="btn btn--cancel" type="button">
            <div class="farblock">
              <i class="far fa-trash-alt"></i>
            </div>
            <div class="fasblock">
              <i class="fas fa-trash-alt"></i>
            </div>
            <span>Cancel</span>
          </button>
          <button class="btn btn--add" type="button">
            <div class="farblock">
              <i class="far fa-plus-square"></i>
            </div>
            <div class="fasblock">
              <i class="fas fa-plus-square"></i>
            </div>
            <span>Save</span>
          </button>
        </div>
      </div>

      <div class="cards__footer">
        <span> 3 tasks left</span>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./all.js"></script>
</body>

</html>